@keyframes preload {

                0% {opacity:100%;}
                60% {opacity:100%;}
              100% {opacity:0%;}
          }

.container {
    position:relative;
    z-index: 9999;
    display: block;
    margin-top: 100px;
    overflow: hidden;
    background-color: white;
    width: 100vw;
    height:100vh;
    margin: 0 auto;
    padding-top: 46vh;
    font-family:"Didact Gothic"
  }

  .sliding-background {
    background: url(./assets/CityPanorama.png) repeat-x;
    background-size: 100vh;
    height: 21vh;
    width: 50000vw;
    animation: slide 110s linear infinite
  }

  @keyframes slide {
    0% {
      transform: translate3d(0, 0, 0)
    }

    100% {
      transform: translate3d(-500vw, 0, 0)
    }
  }

#black {
    background-color: white;
    height: 30vh;
    width: 60vh;
    margin: 0 auto;
    text-align: center;
    font-size: 4.5em
  }

  #loadingText {
    user-select: none;
    color: #000;
    background-color: white;
    animation: blink 1s infinite
  }
@keyframes blink {

    0%,
    100% {
      filter: opacity(.2)
    }

    50% {
      filter: opacity(1)
    }
  }

  .overlay {
    position: fixed;
    background-color: #000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
  }
